<!DOCTYPE html>
<html class="mdui">
<head>
    <meta charset="UTF-8">
    <title>ID卡编辑器</title>
    <link rel="icon" href="/static/id-card2.png">
    {{ font_load }}
    <link rel="stylesheet" href="https://unpkg.com/mdui@2.0.3/mdui.css">
    <script src="https://unpkg.com/mdui@2.0.3/mdui.global.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/custom_style.css" rel="stylesheet">
</head>
<body>
<div class="mdui-appbar mdui-shadow-0">
    <h1>ID卡编辑器</h1>
    <br>
    <hr>
    <br>
    <label for="background-input">
        选择背景图像：
        <input type="file" id="background-input" accept="image/*" class="mdui-btn">
    </label>
    <br>
    <br>
    <div id="canvas"></div>
    <br>
    <label for="avatar-input">
        选择头像图像：
        <input type="file" id="avatar-input" accept="image/*" class="mdui-btn" variant="elevated">
    </label>
    <br>

    <script type="text/javascript" src="/static/js/canvas_edit.js"></script>

    <mdui-checkbox type="checkbox" id="avatar-round-input">头像是否圆角</mdui-checkbox>
    <mdui-text-field id='avatarCol' value='avatar' placeholder="avatar"
                     label="avatar mapping col name"></mdui-text-field>
    <br>

    <mdui-slider type="range" id="avatar-size-input" min="20" max="300" value="100">头像大小</mdui-slider>
    <br>

    <script type="text/javascript" src="/static/js/avatar_edit.js"></script>

    <script type="text/javascript" src="/static/js/template_model.js"></script>
    <hr>
    <h2>下面是动态增加文字列表的功能</h2>
    <mdui-button id="add-text-button" icon="add">新增文字</mdui-button>
    <br>
    <div id="text-list-container" class="mdui-progress">

    </div>

    <script type="text/javascript" src="/static/js/text_edit.js"></script>

    <br><br>
    <script type="text/javascript" src="/static/js/preview.js"></script>
    <br>
    <hr>
    <div id="preview" style="border:1px" class="mdui-table"></div>
    <br>
    <mdui-button onclick="previewConfig()">预览excel表格格式</mdui-button>

    <script src="/static/js/template_model.js"></script>
    <mdui-button onclick="exportTableToCSV('exampleTable','example_table.csv');">保存表格模版到本地</mdui-button>
    <!--<select onclick="saveTemplate()">加载已保存的模版</>-->
    <mdui-button onclick="saveTemplate()">保存配置模版到本地</mdui-button>
    <br>
    <hr>
    <!--上传头像文件夹-->
    <h1>如果已经有配置文件， 可以直接选择从此处开始，选择上传和合成！</h1>
    <p>需要把命名好的图片（和excel表格内头像列同名，不用管文件后缀），json配置文件，excel 放到同一个文件夹内</p>
    <h2>选择配置文件夹进行上传</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="folderInput" webkitdirectory directory multiple class="mdui-btn"/>
        <br><br>
        <mdui-button type="button" onclick="uploadFiles()">Upload</mdui-button>
    </form>

    <script type="text/javascript" src="/static/js/upload.js"></script>
    <script type="text/javascript" src="/static/js/cookie.js"></script>

    <hr>
    <br><br><br><br>
</div>
<mdui-tooltip content="使用模版批量合成">
    <mdui-fab id="batch_btn" icon="batch_prediction" target="_blank" size="normal" extended class="flow-btn"
              onclick="batchProcess()">批量处理
    </mdui-fab>
</mdui-tooltip>


</body>
</html>
